<a href="https://colab.research.google.com/github/Jadeilson08/tcc-data-science/blob/master/tcc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importando o data_reader
!pip install -q yfinance
import pandas
from pandas_datareader import data as pdr
import yfinance as yfin


yfin.pdr_override()

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.4/51.4 KB 798.7 kB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 2.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 3.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 5.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 3.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 32.6 MB/s eta 0:00:00

In [11]:
# criptomoedas analisadas: Bitcoin(BTC-USD), Ethereum(ETH-USD), Tether(USDT-USD), BNB(BNB)

#data inicial e final
start_date = '2017-08-01'
end_date = '2021-08-01'

# coletando os dataframe
df_bitcoin = pdr.get_data_yahoo('BTC-USD', start=start_date, end=end_date)
df_ethereum = pdr.get_data_yahoo('ETH-USD', start=start_date, end=end_date)
df_tether = pdr.get_data_yahoo('USDT-USD', start=start_date, end=end_date)
df_bnb = pdr.get_data_yahoo('BNB', start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
# o index de todos os dataframe ja sao as datas, sem necessidade de atualizar o indice
df_bitcoin.info()
df_ethereum.info()
df_tether.info()
df_bnb.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1461 entries, 2017-08-01 00:00:00+00:00 to 2021-07-31 00:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1461 non-null   float64
 1   High       1461 non-null   float64
 2   Low        1461 non-null   float64
 3   Close      1461 non-null   float64
 4   Adj Close  1461 non-null   float64
 5   Volume     1461 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.2 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1361 entries, 2017-11-09 00:00:00+00:00 to 2021-07-31 00:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1361 non-null   float64
 1   High       1361 non-null   float64
 2   Low        1361 non-null   float64
 3   Close      1361 non-null   float64
 4   Adj Close  1361 non-null   float64
 5   Volume     1361 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 106.7 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1361 entries, 2017-11-09 00:00:00+00:00 to 2021-07-31 00:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1361 non-null   float64
 1   High       1361 non-null   float64
 2   Low        1361 non-null   float64
 3   Close      1361 non-null   float64
 4   Adj Close  1361 non-null   float64
 5   Volume     1361 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 106.7 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 425 entries, 2018-01-02 00:00:00-05:00 to 2020-04-29 00:00:00-04:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       425 non-null    float64
 1   High       425 non-null    float64
 2   Low        425 non-null    float64
 3   Close      425 non-null    float64
 4   Adj Close  425 non-null    float64
 5   Volume     425 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 23.2 KB