<a href="https://colab.research.google.com/github/Jadeilson08/tcc-data-science/blob/master/tcc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Etapas:

- [x] Obtenha os dados de preço histórico de Bitcoin e Ethereum em um formato de tabela (por exemplo, CSV).
- [x] Obtenha os dados do valor do dolar por dia
- [x] Utilize a biblioteca Pandas para carregar e manipular os dados.
- [ ] Utilize a biblioteca Matplotlib para plotar os dados e visualizar as tendências.
- [ ] Utilize a biblioteca de aprendizado de máquina scikit-learn para dividir os dados em conjuntos de treinamento e teste.
- [ ] Escolha um modelo de aprendizado de máquina apropriado para séries temporais (por exemplo, ARIMA, SARIMA, Prophet) e treine-o com os dados de treinamento.
- [ ] Faça previsões com o modelo treinado utilizando os dados de teste e avaliar a precisão do modelo.
- [ ] Utilize o modelo treinado para fazer previsões futuras.

In [21]:
# importando o data_reader
!pip install -q yfinance
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yfin


yfin.pdr_override()

In [22]:
# criptomoedas analisadas: Bitcoin(BTC-USD), Ethereum(ETH-USD), Tether(USDT-USD), BNB(BNB)

#data inicial e final
start_date = '2017-08-01'
end_date = '2021-08-01'

# coletando os dataframe
df_bitcoin = pdr.get_data_yahoo('BTC-USD', start=start_date, end=end_date)
df_ethereum = pdr.get_data_yahoo('ETH-USD', start=start_date, end=end_date)
df_tether = pdr.get_data_yahoo('USDT-USD', start=start_date, end=end_date)
df_bnb = pdr.get_data_yahoo('BNB', start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [23]:
# o index de todos os dataframe ja sao as datas, sem necessidade de atualizar o indice
df_bitcoin.info()
#df_ethereum.info()
#df_tether.info()
#df_bnb.info()
''' etapa 1 realizada '''

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1461 entries, 2017-08-01 00:00:00+00:00 to 2021-07-31 00:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1461 non-null   float64
 1   High       1461 non-null   float64
 2   Low        1461 non-null   float64
 3   Close      1461 non-null   float64
 4   Adj Close  1461 non-null   float64
 5   Volume     1461 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.2 KB

' etapa 1 realizada '

In [24]:
''' 
  etapa 2
  a cotacao do dolar com o valor de abertura e fechamento esta disponivel em csv
  no seguinte endereco
  https://br.investing.com/currencies/usd-brl-historical-data

'''

' \n  etapa 2\n  a cotacao do dolar com o valor de abertura e fechamento esta disponivel em csv\n  no seguinte endereco\n  https://br.investing.com/currencies/usd-brl-historical-data\n\n'

In [25]:
df_dolar = pd.read_csv('https://raw.githubusercontent.com/Jadeilson08/tcc-data-science/master/USD_BRL_20170801_20210801.csv')

#precisa mudar o index para a colula Data
df_dolar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      1044 non-null   object
 1   Último    1044 non-null   object
 2   Abertura  1044 non-null   object
 3   Máxima    1044 non-null   object
 4   Mínima    1044 non-null   object
 5   Vol.      653 non-null    object
 6   Var%      1044 non-null   object
dtypes: object(7)
memory usage: 57.2+ KB

In [26]:
#alterando o index para Data
df_dolar = df_dolar.set_index('Data')

In [27]:
df_dolar.head()

            Último Abertura  Máxima  Mínima     Vol.    Var%
Data
30.07.2021  5,2123   5,0773  5,2287  5,0754   89,74K   2,58%
29.07.2021  5,0812   5,1165  5,1165  5,0406   92,46K  -0,67%
28.07.2021  5,1157   5,1710  5,1926  5,1040  112,11K  -1,03%
27.07.2021  5,1690   5,1769  5,2061  5,1486   92,09K  -0,14%
26.07.2021  5,1761   5,2051  5,2304  5,1516   68,85K  -0,47%

In [28]:
'''fim etapa 2 e 3 '''

'fim etapa 2 e 3 '